@font-face
{
    font-family: DINNextLTArabic;
    src: url('/CustomDesign/Fonts/DINNextLTArabic.eot'), url('/CustomDesign/Fonts/DINNextLTArabic.ttf');
}
@font-face
{
    font-family: 'Conv_HelveticaNeueW23-Reg';
    src: url('/CustomDesign/Fonts/HelveticaNeueW23-Reg.eot'), url('/CustomDesign/Fonts/HelveticaNeueW23-Reg.ttf');
}
